<div class="header-image" style="background-image: url('https://images.unsplash.com/photo-1562185669-3eca86dc3406?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2602&q=80')"><h1>Monday. Nothing a cocktail can’t fix.</h1></div>

<div class="container margin-top-negative">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo.key %>)">
        <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
